# ***Database Design***

In [61]:
# Import Libraries:

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [62]:
# Create connection string using credentials
# connection = "dialect+driver://username:password@host:port/database"

connection = "mysql+pymysql://root:root@localhost/project3"

In [63]:
# # Create a new data base:

# create_database(connection)

In [64]:
# # Create engine:

# engine = create_engine(connection)

In [65]:
# # Verfiy databases existence: 

# database_exists(connection)

In [66]:
# Check if database exists:

if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

The database already exists.

In [67]:
# Load csv files from part I:

bdf = pd.read_csv('C:\\Users\\jnate\\OneDrive\\Documents\\Data Enrichment\\Project-3\\Data\\title_basics.csv.gz')

bdf.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001-01-01,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020-01-01,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018-01-01,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001-01-01,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005-01-01,NaN,100,"Comedy,Horror,Sci-Fi"

Convert the single string of genres from title basics into 2 new tables.
title_genres: with the columns:

    tconst
    genre_id

In [68]:
# Column with list of genres:


bdf['genres_split'] = bdf['genres'].str.split(',')
bdf

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001-01-01,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020-01-01,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018-01-01,NaN,122,Drama,[Drama]
3,tt0079644,movie,November 1828,November 1828,0,2001-01-01,NaN,140,"Drama,War","[Drama, War]"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005-01-01,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
140783,tt9916170,movie,The Rehearsal,O Ensaio,0,2019-01-01,NaN,51,Drama,[Drama]
140784,tt9916190,movie,Safeguard,Safeguard,0,2020-01-01,NaN,90,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
140785,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020-01-01,NaN,84,Thriller,[Thriller]
140786,tt9916362,movie,Coven,Akelarre,0,2020-01-01,NaN,92,"Drama,History","[Drama, History]"
140787,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019-01-01,NaN,123,Drama,[Drama]

In [69]:
# Separate the lists into new rows:

xgenres = bdf.explode('genres_split')
xgenres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001-01-01,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001-01-01,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001-01-01,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020-01-01,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018-01-01,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
140784,tt9916190,movie,Safeguard,Safeguard,0,2020-01-01,NaN,90,"Action,Adventure,Thriller",Thriller
140785,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020-01-01,NaN,84,Thriller,Thriller
140786,tt9916362,movie,Coven,Akelarre,0,2020-01-01,NaN,92,"Drama,History",Drama
140786,tt9916362,movie,Coven,Akelarre,0,2020-01-01,NaN,92,"Drama,History",History
140787,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019-01-01,NaN,123,Drama,Drama

In [70]:
# List of unique genres sorted alphabetically:

ugenres = sorted(xgenres['genres_split'].unique())

ugenres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [76]:
# tconst and split genres as new df:

title_genres = xgenres[['tconst', 'genres_split']].copy()

title_genres

           tconst genres_split
0       tt0035423       Comedy
0       tt0035423      Fantasy
0       tt0035423      Romance
1       tt0062336        Drama
2       tt0069049        Drama
...           ...          ...
140784  tt9916190     Thriller
140785  tt9916270     Thriller
140786  tt9916362        Drama
140786  tt9916362      History
140787  tt9916538        Drama

[244131 rows x 2 columns]

In [77]:
# Numeric IDs for the varous genres via mapper dictionary:

genreints = range(len(ugenres))
gmap = dict(zip(ugenres, genreints))
gmap

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [84]:
# New integer genre_id and drop string genres:

bdf['genre_id'] = bdf['genres_split'].map(gmap)
bdf = bdf.drop(columns='genres_split')

TypeError: unhashable type: 'list'